@import url('http://fonts.cdnfonts.com/css/sketsa-ramadhan');

.navbar-brand {
  font-size: 32px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #abf5ba;
}

.jargon {
  font-family: 'Sketsa Ramadhan', sans-serif;
  font-size: 50px
}

section {
  padding-top: 5rem;
}

#dokumentasi {
  background-color: #abf5ba;
}

@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
}
